.box-about{
    width: 100%;
    display: flex;
    height: 650px;
}

.hero-about-info{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.hero-about-info h3{
    font-size: 30px;
    font-weight: 700;
}

.about-img-right{
    position: absolute;
    right: 0;
}

.work{
    margin-top: 100px;
    text-align: start;
    font-size: 25px;
    font-weight: 600;
}


/* cards */
.cards{
    padding: 100px 0;
}

.cards-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 40px;
    margin-top: 60px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
    background: rgb(28, 20, 15);
}

.card-title{
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px ;
    border-radius: 8px;
    background: rgba(176, 0, 220, 0.11);
}

.card-text{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
    
}

.card-description{
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 187.5%;
    letter-spacing: 0%;
    text-align: left;
}

/* section */
.section{
    background: rgb(28, 20, 15);
    padding: 50px 0;
}

.section-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content-img{
    width: 100%;
}

.section-desc{
    width: 90%;
}

.section-desc-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 202.5%;
    letter-spacing: 0%;
    text-align: left;
}

.section-desc-text{
    font-size: 28px;
    font-weight: 600;
    line-height: 157.5%;
    letter-spacing: 0%;
    text-align: left;
    margin: 15px 0;
}

.section-desc-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 202.5%;
    letter-spacing: 0%;
    text-align: left;
}


/* Team section */
.team{
    padding: 100px 0 0 0;
    margin-bottom: 150px;
}

.team h3{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
}


.team-blocks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    margin-top: 60px;
}

.team-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 70px;
    border-radius: 20px;
    background: rgb(28, 20, 15);
}

.team-block h4{
    font-size: 19px;
    font-weight: 600;
}


.team-block p{
    color: rgb(232, 232, 232);
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

@media only screen and (max-width: 380px) {
    .nav-elements{
        display: none;
    }



    .cards-block{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }  
}
