.form{
    background-color: #1C140F;
    position: relative;
    height: auto;
}

.line1{
    position: absolute;
    top: 0;
    right: 0;
}

.line2{
    position: absolute;
    bottom: 0;
    left: 0;
}
/* Map */
.map-desc{
    margin: 0 0 75px 0;
}

.map-title{
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.map-text{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.map-img{
    width: 100%;
}

.phone{
    display: flex;
    align-items: center;
    gap: 25px;
}

.contact-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 62px 0 140px 0;
}

.location{
    display: flex;
    gap: 10px;
    position: relative;
}

.location-text{
    font-size: 20px;
    font-weight: 300;
    margin-left: 40px;
}

.location-img{
    position: absolute;
    top: 6px;
    left: 0;
}
/* form */



.form-text{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.form-title{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 70px;
}

.form-block{
    padding: 65px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input{
    margin: 80px auto;
    width: 600px;
}
.input-name{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.first-name, .last-name{
    width: 50%;
}


.input-text{
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
    margin: 7px 0;
}

.form-input input,
.form-input textarea{
    width: 100%;
    outline: none;
    color: #fff;
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.07);
    border: 0.6px solid rgb(206, 206, 206);
    margin-top: 7px;
    margin-bottom: 20px;
}



.contact-btn{
    float: right;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    border: 0;
    padding: 15px 35px;
    background-color: #DC7000;
    color: #fff;
    transition: all 0.3s ease;
}

.contact-btn:hover{
    background-color: #7e4609;
}


