.news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 160px 0;
}

.news-title{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 13px;
}

.news-text{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}


.news-search{
    width: 360px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 50px;
    padding: 15px 20px;
    border-radius: 10px;
    background: rgb(28, 20, 15);
}

.news-input{
    outline: none;
    border: none;
    background: #1C140F;
}


/* Content */
.news-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
}

.news-left{
    width: 50%;
    float: left;
}

.news-right{
    float: right;
}

.news-img{
    width: 100%;
    height: 100%;
}

.hr{
    margin: 90px 0;
}

.click{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin: 21px 0;
}

.click-btn{
    background: rgb(35, 81, 245);
    padding: 10px 35px;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.time{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.news-content-about{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 40px;
}

.content-title{
    font-size: 30px;
    font-weight: 600;
}


.content-text, .content-desc{
    font-size: 17px;
    font-weight: 400;
}


.news-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0;
}

